@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body  {
    display: flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
     background: url('img/background.jpg');
     background-size: cover;
     background-position: center;
}


.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);;
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    backdrop-filter: blur (5px);
}

.container1 {
    width: 650px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);;
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
    backdrop-filter: blur (5px);
}

.container h1 {
    font-size:36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
} 

.input-box input {
    widht: 100%;
    heith: 100%;
    background-color: solid;
    border: 25px rgba(0, 0, 0, 0.35) 0px 5px 15px  ;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    color: #080303ff;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {

    color: #000000ff;

}

.input-box i {
   position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    transform: tranlate(-50%)

 }

 .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
 }

  .remember-forgot   label input   {
    
    
    accent-collor: #fff;
    margin-right: 5px;

  }

  .remember-forgot  a {

    text-decoration: none;
    color: #fff;

  }

   .remember-forgot  a:hover {

    text-decoration: underline;
   }

   .login {
    widht: 500%;
    height: 50px;
    background-color: #fff;
    border:absolute ;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    color: #0a0a0aff;
    font-weight:600;
    box-shadow: 0 0 10px rgba(163, 160, 160, 0.1) ;

   }

   .confirmar {
    widht: 500%;
    height: 50px;
    background-color: #fff;
    border:none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight:600;
    box-shadow: 0 0 10px rgba(0,0,0, .1) ;

   }

   .login:hover{
    background-color: transparent;
    border: 2px solid rgba(255,255,255, .2);
    color: #fff;
    transition: 0.5s;
   }

   .register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;

   }

   .register-link a {
    text-decoration: none;
    color: #fff;
    font-weight:600;
   }

   .register-link a:hover{
    text-decoration: underline;
   }

   .Enviar {
    widht: 500%;
    height: 50px;
    background-color: #fff;
    border:absolute ;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    color: #0a0a0aff;
    font-weight:600;
    box-shadow: 0 0 10px rgba(163, 160, 160, 0.1) ;

   }